*{
font-family: Arial, Helvetica, sans-serif;
margin: 0;
}
/* nav avd header styles */
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.primary{
    color: orangered;
}
nav{
display: flex;
justify-content: space-between;
margin: 50px 100px;
}
nav ul{
display: flex;
align-items: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.btn-primary{
    background-color:orangered;
    border: 0;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px 15px;
    border-radius: 5px;
    
}
/* banner style */
.abed{
    height: 550px;
    width: 450px;
}
.banner{
    margin: 0 100px;
    align-items: center;
    display: flex;
}
.banner-title{
    font-weight: 600;
    font-size: 55px;

}
.banner-sub-title{
    font-weight: 400;
    font-size: 45px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom:30px; 
}
